name: Desplegament automtic amb GitHub Actions
run-name: Desplegament a producci贸 de laplicaci贸

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configurar Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Instal路lar depend猫ncies
        run: |
          cd front
          npm install

      - name: Reparar m貌duls natius (lightningcss)
        run: |
          cd front
          npm rebuild lightningcss

      - name: Construir aplicaci贸
        run: |
          cd front
          npm run build

      - name: Verificar si el directori 'dist' existeix
        run: ls -la front/dist || echo "锔 El directori 'dist' no existeix!"

      - uses: actions/upload-artifact@v4
        with:
          name: app-build
          path: front/dist

  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Obtenir el codi del repositori
        uses: actions/checkout@v4

      - name: Descarregar l'artifact constru茂t
        uses: actions/download-artifact@v4
        with:
          name: app-build
          path: dist

      - name: Verificar el contingut del directori descarregat
        run: ls -la dist || echo "锔 No s'ha descarregat res a 'dist'!"

      - name: Desplegar a producci贸n con SCP
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "~/prod_key.pem" dist/* ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:${{ secrets.REMOTE_DIR }}

      - run: echo " El estado de este job es ${{ job.status }}."